@media (max-width: 600px) {

.products{
  display: inherit;
  height: auto;
}
.product{
  margin-top: auto;
}

.products1{
  display: inherit;
}

.img_content{
  height: auto;
  display: inherit;
}
}
